*{
  font-family: "pf";
}

@font-face {
  font-family: "pf";
  src: url("../font/PF스타더스트.ttf");
}
@font-face {
  font-family: "pf_bold";
  src: url("../font/PF스타더스트+Bold.ttf");
}
body{
  background-color: #9fcfa8;
}

.horiz {
  display: flex;
  flex-direction: row;
}
.simple_text {
  height: 500px;
  text-align: center;
  line-height: 500px;
  font-size: 20px;
  color: rgb(224, 224, 224);
}

.hidden_button {
  background-color: white;
  height: 60px;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0%;
  margin-bottom: 0.5em;
}

/*Game.js에서 이용*/
.main {
  max-width: 1200px;
  width: 100vw;
  height: 900px;
  background-color: beige;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  background-image: url("../images/background.png");
}

.game_image {
  width: 742px;
  margin: 25px;
  margin-top: 80px;
  height: 742px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 8px solid #574138;
}

.phone {
  margin: 25px;
  margin-top: 80px;
}

.phoneFrame {
  background: url("../images/background_phone.png");
  width: 22em;
  height: 47em;
  background-size: 100% 100%;
  position: absolute;
  pointer-events: none;
  z-index: 100;
}

.phone_element {
  margin-left: 18px;
  margin-top: 3.5em;
  display: flex;
  flex-direction: row;
}
.app_buttons {
  width: 20em;
  display: flex;

  background-color: rgb(247, 247, 247);
  justify-content: space-around;
  position: relative;
  height: 7em;
  padding-top: 1em;
  margin-left: 20px;
}
.applications {
  width: 50px;
  height: 50px;
  border: none;
  color: skyblue;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 5px;
}
.page {
  width: 20em;
  height: 35em;
  background-color: white;
}
.day {
  font-size: 24px;
  height: 40px;
  line-height: 40x;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 125px;
  left: 40px;
}
.clock {
  position: absolute;
  top: 175px;
  left: 55px;
}

#game_button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  position: absolute;
  top: 425px;
  left: 350px;
  background-image: url("../images/game_component/button.png");
  padding: 0%;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #efd9c6;
}
.doing {
  font-size: 24px;
  height: 40px;
  line-height: 40x;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 40px;
}
.background_img {
  position: absolute;
  width: 750px;
  height: 750px;
  z-index: -1;
}

#daily_info {
  position: absolute;
  left: 40px;
  top: 80px;
}

/*market.js에서 이용*/
#carrot {
  font-weight: bold;
  padding-top: 1em;
  width: 20em;
  background-color: #f1988d;
  text-align: center;
  color: white;
  line-height: 50px;
}

.item_image {
  margin-left: 1.5em;
}

.item_area {
  margin-bottom: 0.3em;
  color: rgba(151, 151, 151, 0.9);
}
.market_head {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 0.5em;
}

.market_location {
  padding: 0.5em 0 0.5em;
  text-align: center;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.itemlist {
  width: 20em;
  padding: 2em 0 2em 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(223, 223, 223);
  justify-content: space-between;
  align-items: center;
}
.item_name {
  font-weight: bold;
  font-size: large;
  height: 30px;
  line-height: 30px;
}
.deal_button {
  border: none;
  margin-right: 1.5em;
  border-radius: 0.3em;
  color: rgb(247, 247, 247);
  background-color: orange;
  height: 30px;
  width: 70px;
}

.gray {
  position: absolute;
  width: 100%;
  height: 8.3em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  line-height: 8.3em;
}
.register {
  margin-left: 5px;
  background-color: rgb(19, 83, 43);
  height: 22px;
  width: 40px;
  border-radius: 7px;
  text-align: center;
  line-height: 25px;
  color: white;
}

/*buy_item.js에서 사용*/

.buy_head {
  padding-top: 0.1m;
  padding-left: 1em;
}
.itemlist_buy {
  width: 16em;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.buy_count {
  height: 30px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buy_button {
  width: 24em;
  height: 45px;
  background-color: #574138;
  color: white;
}

.buy_count_button {
  background-color: white;
  border: none;
}

.toast {
  position: absolute;
  top: 80%;
  left: 35%;
  padding: 11px;
  text-align: center;
  min-width: 5em;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  animation: fadeInUp 0.7s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

/*novel.js에서 이용*/
.novel {
  position: absolute;
  bottom: 70px;
  margin: 10px;
}
#script_name {
  width: 150px;
  height: 40px;
  background-color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/background_name.png");
  margin-bottom: 10px;
  margin-left: 7px;
  color: #efe0c3;
  text-align: center;
  box-sizing: border-box;
  padding:10px;
}
#script_text {
  width: 720px;
  height: 150px;
  background-color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding-top:20px;
  padding: left 20px;
  background-image: url("../images/background_text.png");
}
#script_next {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#select_A {
  position: absolute;
  bottom: 370px;
  font-size: 16px;
  width: 120px;
  height: 50px;
  padding: 0%;
  border: 0px;
  font-weight: bold;
  color: #efd9c6;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/game_component/button.png");
}

#select_B{
  position: absolute;
  bottom: 300px;
  font-size: 16px;
  width: 120px;
  height: 50px;
  padding: 0%;
  border: 0px;
  font-weight: bold;
  color: #efd9c6;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/game_component/button.png");
}

/*======bank.js에서 사용=========*/
#toss {
  font-weight: bold;
  padding-top: 1em;
  width: 20em;
  background-color: #615b95;
  line-height: 50px;
  text-align: center;
  color: white;
}

.bank_contents {
  display: flex;
  flex-direction: column;
  height: 50em;
  background-color: rgba(245, 241, 241, 0.808);
}

.bank_name {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-weight: bolder;
  font-size: 18px;
}

.bank_status {
  margin-bottom: 0.4em;
  display: flex;
  justify-content: space-between;
}

.bank_component {
  border-radius: 1em;
  margin: 1em 1em 0 1em;
}

.my_wallet {
  background-color: rgba(255, 255, 255);
  padding: 2em;
}

.blue {
  color: #615b95;
  font-weight: bolder;
}
.head_text {
  line-height: 44px;
  margin-left: 10px;
  height: 44px;
  font-size: 24px;
}
.have_list {
  border-bottom: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

/*chat.js에서 사용*/
#kakao {
  font-weight: bold;
  padding-top: 1em;
  width: 20em;
  background-color: #e3dd68;
  line-height: 50px;
  text-align: center;
  color: black;
}

#hyendai {
  font-weight: bold;
  padding-top: 1em;
  width: 20em;
  background-color: #574138;
  line-height: 50px;
  text-align: center;
  color: white;
}

/* ============chat room style==============*/

.chat_room {
  height: 60px;
  width: 310px;
  margin-bottom: 0.5em;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.chat_header {
  background-color: #a9bdce;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: flex-start;
}

.back_button {
  border: none;
  background-color: #a9bdce;
}

.send_button {
  border: none;
  padding: 1em;
}

.chat_head {
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.chat_info {
  margin-left: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat_name {
  margin-top: 0.5em;
  font-weight: bolder;
  font-size: 18px;
}

.chat_text {
  margin-bottom: 1em;
  font-size: 14px;
}

.real_chat {
  width: 20em;
  height: 35em;
  background-color: rgb(189, 211, 230);
  position: absolute;
  top: 0;
  left: 0;
}

.chat_list {
  position: absolute;
  bottom: 50px;
  width: 300px;
  display: flex;
  margin-left: 0.5em;
  flex-direction: column;
}

.my_chat {
  background-color: #e3dd68;
  margin: 5px;
  height: 20px;
  line-height: 20px;
  text-align: right;
  width: max-content;
  border: 5px solid #e3dd68;
  border-radius: 5px;
  position: relative;
  left: 97%;
  transform: translate(-100%, 0%);
}

.op_chat {
  background-color: white;
  margin: 5px;
  height: 20px;
  line-height: 20px;
  text-align: right;
  width: max-content;
  border: 5px solid white;
  border-radius: 5px;
}
#send_message {
  width: 19em;
  background-color: white;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  padding-left: 1em;
  justify-content: space-between;
}

.chat_img {
  border-radius: 15px;
  margin: 5px;
}
