.wrapWelcome{
    width: 1200px; 
    height: 900px;
    background-image: url("../images/background.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.welcomeContainer{
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.welcomeTxt{
    font-weight: bold;
    font-size: 60px;
    height: 70px;
}
.authInput{
    height: 40px;
    width: 200px;
}
.login_subment{
    height: 40px;
    font-size: 20px;
}

.authInput_authSubmit{
    width: 120px;
    height: 50px;
    font-size: 16px;
    background-image: url("../images/game_component/button.png");
    padding: 0%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #efd9c6;
}