
/*Game.js에서 이용*/
.main {
    width: 1200px; 
    height: 800px;
    background-color: beige;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.game_image{
    width:750px;
    margin: 25px;
    background-color: white;
    height:750px;
}

.phone{
    margin: 25px;
    background: url("./images/background_phone.jpg");
    background-size: 100% 100%;
    background-position: center;
}
.phone_element{
    margin: 25px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.app_buttons{
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom:80px;
    margin: 25px;
}
.applications{
    width: 50px;
    height: 50px;
}
.page{
    width: 302px;
    height: 600px;
    background-color: azure;
}

/*market.js에서 이용*/
#carrot{
    height: 50px;
    width: 302px;
    background-color: orange;
    text-align: center;
    color: white;

}
.itemlist{
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.item_name{
    font-weight: bold;
}

.buy_count{
    height: 30px;
    display: flex;
    flex-direction: row;
}

/*novel.js에서 이용*/
.novel{
    position: absolute;
    bottom: 25px;
    margin: 10px;
}
#script_name{
    width: 150px;
    height: 40px;
    background-color: aliceblue;
}
#script_text{
    width: 730px;
    height: 150px;
    background-color:aliceblue;
}
#script_next{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* selector.js에서 이용 */
#selecter_wrapper{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
}
#selector{
    display: flex;
    flex-flow: column;
}
#selector li {
    width: 350px;
    height: 30px;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 8px 32px 0 rgba(212, 212, 222, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
}

#selector li:hover{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 40px 0 rgba(230, 230, 230, 0.5);
}

#selector li + li {
    margin-top: 1em;
}

/*bank.js에서 사용*/
#toss{
    height: 50px;
    width: 302px;
    background-color: blue;
    text-align: center;
    color: white;
}

/*chat.js에서 사용*/
#kakao{
    height: 50px;
    width: 302px;
    background-color: yellow;
    text-align: center;
    color:black;
}